<ion-header>
  <ion-toolbar>
    <ion-title>newUser</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">
      Nome
    </ion-label>
    <ion-input type="text" [(ngModel)]="nome"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">
      Telefone
    </ion-label>
    <ion-input type="number" [(ngModel)]="telefone"></ion-input>
  </ion-item>
</ion-content>

<ion-footer>
  <ion-button expand="full" (click)="salvar()">
    SALVAR
  </ion-button>

  <ion-button expand="full" color="danger" (click)="sair()">
    SAIR
  </ion-button>
</ion-footer>