<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>user</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let usuario of listaUsuarios; index as i">
    <ion-card (click)="editaUsuario(usuario, i)">
      <ion-card-header>{{usuario.nome}}</ion-card-header>

      <ion-card-content>
        {{usuario.telefone}}
      </ion-card-content>

      <ion-fab vertical="top" horizontal="end" slot="fixed">
          <ion-fab-button color="danger" (click)="deletaUsuario(i)">
            <ion-icon name="trash"></ion-icon>
          </ion-fab-button>
        </ion-fab>
    </ion-card>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button>
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top">
        <ion-fab-button (click)="novoUsuario()">
          <ion-icon name="contacts"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
      <ion-fab-list side="start">
        <ion-fab-button (click)="alerta()">
          <ion-icon name="microphone"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>
</ion-content>