<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <ion-label>{{latitude}}</ion-label>
    </ion-col>

    <ion-col>
      <ion-label>{{longitude}}</ion-label>
    </ion-col>
  </ion-row>
</ion-content>

<ion-footer>
  <ion-button expand="full" (click)="iniciaLoc()">
    INICIAR
  </ion-button>

  <ion-button expand="full" color="danger" (click)="paraLoc()">
    PARAR
  </ion-button>
</ion-footer>